.bio-chart .emotional path{
  stroke: var(--app-emotional-color);
}

.bio-chart .physical path{
  stroke: var(--app-physical-color);
}

.bio-chart .intellectual path{
  stroke: var(--app-intellectual-color);
}
